<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ naziv }}</title>
</head>
    <body class="page">        
        <div class="panel title_panel"><a class="text_link" href="/">{{ naziv }}</a>            
            <a class="button" style="float:right;background-color:gold;" href="/odjava">Odjava</a>
            <a class="button" style="float:right;background-color:honeydew;" href="/registracija">Registracija</a>
            <a class="button" style="float:right;background-color:chartreuse;" href="/autentikacija">Prijava</a>
        </div>

        {% block content %}{% endblock %}

        
    </body>
</html>
