{% extends 'index.html' %}

{% block content %}
<div class="panel content_panel"> 
  <form method="POST" action="/prijava">
<table>    
    <tr>
        <td><label for="username">Korisničko ime</label></td>
        <td><input name="username" id="username" required></td>
    </tr>
    <tr>
        <td><label for="password">Lozinka</label></td>
        <td><input type="password" name="password" id="password" required></td>
    </tr>
    <tr>
        <td></td><td><input type="submit" value="Prijava"></td>
    </tr>
</table>  
</form>
  </div>
{% endblock %}